﻿@model ProjectoTEN.Models.Utilizador

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Utilizadores</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Utilizadores" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Tipo" />
            <input type="hidden" asp-for="Descricao" />
            <input type="hidden" asp-for="Telefone" />
            <input type="hidden" asp-for="Linkedin" />
            <br />
            <div class="form-group">
                <button class="btn btn-outline-success" type="submit">Gravar</button>
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <button class="btn btn-danger" type="button" value="Go back!" onclick="history.back()" >Voltar</button>
</div>