﻿@using Microsoft.AspNetCore.Http


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASP-NET-MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img style="margin: 5px" src="~/images/asp.net_.png" class="rounded-circle"height="75" width="100"/>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (Context.Session.GetString("UserEmail") != null) {
                            <li class="nav-item">
                                <a style="text-decoration: none; color: black" asp-area="" asp-controller="Home" asp-action="Index">Logout</a>
                            </li>
                        } else {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="#login" title="">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="#registo" title="">Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

<br><br>
<footer class="border-top footer text-muted text-center">
    <div class="container">
        All rights reserved &copy; 2022
        @* &copy; 2022 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@* <script type="text/javascript"> *@
@*         window.onload = function(){ *@
@*           document.getElementById('clickButton').click(); *@
@*         } *@
@*     </Script> *@

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
